.home-wrapper{
    height: 100vh;
    width: 100vw;
    .home-container{
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;

        //['33, 169, 135,', '255, 50, 10']
        .title-name{
            font-size: 50px;
            color: rgb(12, 235, 179);
            padding: 20px;
            transition: all 0.5s ease-in-out; 
        }

        .title-name:hover{
            color: rgb(255, 50, 10);
            margin-bottom: 50px;
            transition: all 0.5s ease-in-out; 
            cursor: default;
        }
    }

    #main-canvas{
        z-index: -1;
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: #1E1F26;
    }
}