.home-wrapper{
    height: 100vh;
    width: vw;
    .place-holder{
        height: 15vh;
    }

    .home-container{
        height: 85vh;
    }

    #main-canvas{
        z-index: -1;
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: #1E1F26;
    }
}