.link-container{
    width: max-content;
    margin: 20px;
    display: flex;
    align-items:last baseline;
    justify-content: center;

    .link-wrapper{
        text-decoration: none;
        padding: 10px 20px;
        padding-bottom: 0;

        .link{
            color: white;
            text-decoration: none;
            font-size:20px;
            padding: 0 25px;
            padding-bottom: 10px;
            align-items: baseline;
        }
    
        .link-hover{
            color: #21a987;
            transform: translateY(-10px);
            border-bottom: 3px solid white;
            transition: all 0.3s ease-in-out
        }

        .active-link{
            color: #21a987;
            cursor: default;
        }
    }
}